@import '../globals';

.search-box {
  position: relative;
  align-self: flex-end;
  color: #fff;
  height: 2em;

  form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .-is-sticky {
    // TODO: implement
  }

  .search-field input {
    margin: 0 1em;
  }

  .reset-button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
  }
}