@import '../globals';

.search-box {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
  top: 0;
  height: 2em;
  padding: 1em 0;
  background-color: black;
  box-shadow: 0 0 5px black;

  &.-is-sticky {
    transform: translateY(0);
    transition: transform $timing;
  }

  &.-is-hiding:not(:focus-within) {
    transform: translateY(-100%);
    transition-delay: 1s;
  }

  .sticky-sentinel {
    display: none;
  }

  .search-field input {
    margin: 0 1em;
  }

  .reset-button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
  }
}