@import '../globals';

.player {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
  }

  a {
    color: var(--link-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  iframe {
    border: 0;
    width: 100%;
    height: 120px;
    transition: height $timing, opacity $timing;
    background-color: var(--background-color);
  }

  &.-is-loading iframe {
    opacity: .1;
  }

  h2,
  iframe {
    margin: 2rem 0 0;
  }

  .controls {
    display: flex;
    justify-content: space-evenly;
    align-self: stretch;
    margin-top: 1rem;
  }

  .tracklist-toggle {
    $arrow-width: 10px;
    $arrow-ratio: 1.5;

    position: relative;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - #{$arrow-width} / 2);
      width: 0;
      height: 0;
      border-left: $arrow-width / $arrow-ratio solid transparent;
      border-right: $arrow-width / $arrow-ratio solid transparent;
      border-top: $arrow-width solid var(--link-color);
      transform: rotate(0);
      transition: transform $timing;
    }

    &::before {
      left: -$arrow-width * 2;
    }

    &::after {
      right: -$arrow-width * 2;
    }
  }

  &.-with-tracklist {
    iframe {
      height: 472px;
    }

    .tracklist-toggle {
      &::before {
        transform: rotate(180deg);
      }

      &::after {
        transform: rotate(-180deg);
      }
    }
  }
}
