@import '../globals';

.player {
  .lazy-iframe {
    border: 0;
    width: 100%;
    height: 120px;
    transition: height $timing, opacity $timing;
    background-color: var(--bgcol);
  }

  .player-head,
  .lazy-iframe {
    margin: 2rem 0 0;
  }

  .lazy-iframe {
    &.-is-loading {
      opacity: .1;
    }

    &.-is-expanded {
      height: 472px;
    }
  }
}
